{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %} Add sensor{{ super() }} {% endblock %}

{% block content %}

<div class="container">
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form action="/addsensor" method="post">
                {{ form.csrf_token }}
                {{ render_field(form.sensor_place) }}
                {{ render_field(form.sensor_id) }}
                <div align="right">
                    <input class="btn btn-default" type="submit" value="Add new place">
                </div>
            </form>
            <p>{{error}}</p>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
        </div>
    </div>
</div>

<h4>Registered sensors</h4>

{% if sensors !=[] %}

<table class="table">
	<tr>
		<th>Place</th>
		<th>Sensor ID</th>
	</tr>

	{% for key, sensor in sensors.items() %}

	<tr>
		<td> {{ sensor.place_id }} </td>
		<td> {{ sensor.sensor_id }} </td>

	</tr>

	{% endfor %}

</table>

{% else %}

	No registered sensors yet.

{% endif %}

{% endblock %}