{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

{% block title %}Register{{ super() }}{% endblock %}

{% block content %}

<div class="container">
    <br/>
    <br/>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form action="/register" method="post">
                {{ form.csrf_token }}
                {{ render_field(form.email) }}
                {{ render_field(form.name) }}
                {{ render_field(form.surname) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm_password) }}
                {{ render_field(form.role, class="col-sm-10", style="list-style-type: none") }}
                <br>
                {{ render_field(form.user_id) }}
                <div align="right">
                    <input class="btn btn-default" type="submit" value="Register">
                </div>
            </form>
            <p>{{error}}</p>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
        </div>
    </div>
</div>

{% endblock %}

