{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %} Sensors{{ super() }} {% endblock %}

{% block content %}

<h4>Records for <b style="color: grey">{{ sensor_id }}</b> (Total: {{ records|length }})</h4>
                    <a href="{{ url_for('delete_sensors', sensor_id=sensor_id) }}" class="btn btn-danger">Delete sensor</a>


<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form action="{{ url_for('sensor_records_filter', sensor_id=sensor_id) }}" method="POST">
                {{ render_field(form.filter_status, class="radio", style="list-style-type: none") }}
                <div align="right">
                    {% if flag == 1 %}
                    <a href="{{ url_for('sensor_records', sensor_id=sensor_id) }}" class="btn btn-primary" align="left">Clear
                        filter</a>
                    {% endif %}
                    <input class="btn btn-default" type="submit" value="Apply filter">
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
</div>

<br>
<br>

{% if records !=[] %}

<table class="table">
    <tr>
        <th>User ID</th>
        <th>Timestamp</th>
        <th>If card registered</th>

    </tr>
    <tr>
    {% for record in records %}
        <td>{{ record.user_id }}</td>
        <td>{{ record.timestamp }}</td>
        {% if record.in_use == 1 %}
            <td>True</td>
        {% else %}
            <td>False</td>
        {% endif %}
    </tr>
    {% endfor %}

</table>

{% else %}

No records for this sensor yet.

{% endif %}

{% endblock %}