<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js'></script>

<div id="wrapper" style="position: relative; height: 50vh; width: 90vw" class="center-block">
    <canvas id="chart"></canvas>
</div>

<script>
   var canvas =  document.getElementById("chart");
   var ctx = canvas.getContext("2d");

   new Chart(ctx, {
   type: 'line',
   data: {
        labels : [{% for key, elem in work_time.items()|reverse %}
                    "{{ elem[2].strftime('%Y-%m-%d %H:%M:%S') }}",
                  {% endfor %}],
        datasets : [{
            label: 'regular work time',
            backgroundColor: "rgba(151,187,205,0.2)",
            data : [{% for key, elem in work_time.items()|reverse %}
                        {{ elem[0]|timedelta_to_hour }},
                    {% endfor %}]
            }, {
            label: 'overtime',
            backgroundColor: "rgba(151,0,205,0.2)",
            data : [{% for key, elem in overtime.items()|reverse %}
                        {{ elem[0]|timedelta_to_hour }},
                    {% endfor %}]
                   }]},
   options: {
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        responsive: true,
        maintainAspectRatio: false,
        legend : {
            display: true,
            position: 'top',
            labels: {
                fontSize: 14,
                fontColor: "#000000",
                }
            },
        tooltips : {
            enabled : true,
            intersect: false,
            callbacks : {
                label : function(tooltipItem, data) {
                    return tooltipItem.yLabel + ' hours';
                    }
                }
            },
        scales: {
            yAxes: [{
                ticks: {
                    min: 0,
                    max: 18,
                    }
                }]
            }
        }
   });


</script>

