{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

{% block title %}User profile{{ super() }}{% endblock %}

{% block content %}


{% if user != [] %}
<table class="table" style="width: auto ;  margin: 0px auto">

    <tr>
        <th>First name and last name</th>
        <th>{{ user.name }} {{ user.surname }}</th>
    </tr>
    <tr>
        <td>User ID</td>
        <td> {{ user.card_id }}</td>
    </tr>
    <tr>
        <td>Role</td>
        <td>{{ user.role }}</td>
    </tr>
</table>
<br>
<div align="center">
    <a href="{{ url_for('edit_profile', id=user.id) }}" class="btn btn-primary" align="center">Edit profile</a>
</div>
<br>
{% else %}
No users to display.
{% endif %}

<h4>Last 10 records for <b style="color: grey">{{ user.name }} {{ user.surname }}</b> (Total: <a
        href="{{ url_for('user_records', id=user.id) }}"> {{ records|length }}</a>)</h4>

{% if records !=[] %}

<table class="table">
    <tr>
        <th>User ID</th>
        <th>Sensor ID</th>
        <th>Timestamp</th>
    </tr>
    <tr>
        {% for record in records[:10] %}
        <td>{{ record.user_id }}</td>
        <td>{{ record.sensor_id }}</td>
        <td>{{ record.timestamp }}</td>
    </tr>
    {% endfor %}

</table>

{% else %}

No records for this sensor yet.

{% endif %}

{% for key, elem in work_time.items() %}
Work duration: {{ elem[0] }}
<br>
Shift start: {{ elem[2] }}
<br>
Shift end: {{ elem[1] }}
<br>
<br>
{% endfor %}

{% endblock %}