{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

{% block title %}User profile{{ super() }}{% endblock %}

{% block content %}

{% with active_page = "records" %}
{% include "user-profile-nav.html" %}
{% endwith %}

<div class="container">
<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <br>
        <h4>All records for <b style="color: grey">{{ user.name }} {{ user.surname }}</b> (Total: {{ records|length }})
        </h4>

        {% if records !=[] %}

        <table class="table">
            <tr>
                <th>User ID</th>
                <th>Sensor ID</th>
                <th>Timestamp</th>
                <th></th>
            </tr>
            <tr>
                {% for record in records %}
                <td>{{ record.user_id }}</td>
                <td>{{ record.sensor_id }}</td>
                <td>{{ record.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                {% if current_user.role == 'admin' %}
                <td><a href="{{ url_for('delete_records', record_id=record.id, id=user.id) }}">X</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

        {% else %}

        No records for this sensor yet.

        {% endif %}

    </div>
</div>
</div>

{% include "footer.html" %}

{% endblock %}