{% extends "bootstrap/base.html" %}

{% block content %}


<div align="center">
        {% block title %}<h2><u>Salary</u></h2>{% endblock %}
</div>

<br>
<br>

<div align="right" style="margin-right: 47%">
    <table class="table" style="width: auto;  margin: auto;">
        <tr>
            <td><b>Name</b></td>
            <td>{{ user.name}}</td>
        </tr>
        <tr>
            <td><b>Surname</b></td>
            <td>{{ user.surname}}</td>
        </tr>
    </table>
</div>

<br>
<br>

{% if work_time !={} %}

<table class="table table-bordered table-inverse" style="width: auto ;  margin: 10px auto">
    <tr>
        <th>Settlement period</th>
        <th>Regular time</th>
        <th>Overtime</th>
        <th>Basic salary</th>
        <th>Extended salary</th>
        <th>Total numer of hours</th>
        <th>Total salary</th>
    </tr>
    <tr>
        {% for key, value in salary.items() %}
        <td>{{ key[0]|int_to_month }} {{ key[1] }}</td>
        <td>{{ value|int }} ({{ value|int_to_hour }}) hours</td>
        <td>{{ extened_salary[key]|int }} ({{ extened_salary[key]|int_to_hour }}) hours</td>
        <td>{{ (value|int)*10 }} PLN</td>
        <td>{{ (extened_salary[key]|int) * 20 }} PLN</td>
        <td>{{ (value|int) + (extened_salary[key])|int }} hours</td>
        <td>{{ ((value|int)*10) + ((extened_salary[key]|int) * 20) }} PLN
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<br>
<div align="right" style="margin-right: 20%">
    <b>Date and signature:</b> .............................
    <br>
<b>Supervisor signature:</b> ..............................
</div>

{% else %}

Nothing to show.

{% endif %}

{% endblock %}



