{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

{% block title %}User salary{{ super() }}{% endblock %}

{% block content %}

{% with active_page = "salary" %}
{% include "user-profile-nav.html" %}
{% endwith %}

<h4>User salary</h4>

{% if salary !=[] %}

<table class="table">
    <tr>
        <th>Settlement period</th>
        <th>Regular time</th>
        <th>Overtime</th>
        <th>Basic salary</th>
        <th>Extended salary</th>
        <th>Total numer of hours</th>
        <th>Total salary</th>
    </tr>
    <tr>
        {% for key, value in salary.items() %}
        <td>{{ key[0]|int_to_month }} {{ key[1] }}</td>
        <td>{{ value|int }} ({{ value|int_to_hour }}) hours</td>
        <td>{{ extened_salary[key]|int }} ({{ extened_salary[key]|int_to_hour }}) hours</td>
        <td>{{ (value*10)|round(2, 'floor') }} PLN</td>
        <td>{{ (extened_salary[key] * 10)|round(2, 'floor') }} PLN</td>
        <td>{{ (value + extened_salary[key])|int }} ({{ (value + extened_salary[key])|int_to_hour}}) hours
        </td>
        <td>{{ ((value*10)|round(2, 'floor') + (extened_salary[key] * 10)|round(2, 'floor'))|round(2, 'floor') }} PLN
        </td>
    </tr>
    {% endfor %}

</table>

{% else %}

No shifts registered for this user yet.

{% endif %}

{% endblock %}

