{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

{% block title %}User profile{{ super() }}{% endblock %}

{% block content %}

{% with active_page = "shifts" %}
{% include "user-profile-nav.html" %}
{% endwith %}

<h4>User shifts (Total: {{ work_time|length }}</a>)</h4>

{% if work_time !=[] %}

<table class="table">
    <tr>
        <th>Entered</th>
        <th>Left</th>
        <th>Work duration (hh:mm)</th>
        <th>Overtime</th>
    </tr>
    <tr>
        {% for key, elem in work_time.items() %}
        <td>{{ elem[2].strftime('%Y-%m-%d %H:%M:%S') }}</td>
        <td>{{ elem[1].strftime('%Y-%m-%d %H:%M:%S') }}</td>
        <td>{{ elem[0] }}</td>
        <td>{{ overtime[key][0] }}</td>
    </tr>
    {% endfor %}

</table>

{% else %}

No shifts registered for this user yet.

{% endif %}

{% endblock %}

