{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

{% block title %}User profile{{ super() }}{% endblock %}

{% block content %}

{% with active_page = "records" %}
{% include "user-profile-nav.html" %}
{% endwith %}

<h4>Last 10 records for <b style="color: grey">{{ user.name }} {{ user.surname }}</b> (Total: <a
        href="{{ url_for('user_records_all', id=user.id) }}"> {{ records|length }}</a>)</h4>

{% if records !=[] %}

<table class="table">
    <tr>
        <th>User ID</th>
        <th>Sensor ID</th>
        <th>Timestamp</th>
    </tr>
    <tr>
        {% for record in records[:10] %}
        <td>{{ record.user_id }}</td>
        <td>{{ record.sensor_id }}</td>
        <td>{{ record.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
    </tr>
    {% endfor %}

</table>

{% else %}

No records for this sensor yet.

{% endif %}

{% include "footer.html" %}

{% endblock %}

